
<style>
    body{
        background-color: #638CBB;
    }
    input{
        width: 100%;
        padding: 12px 26px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    input::placeholder {
        color: #d3d3d3;
    }
    .center-column{
        width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 8px rgba(0,0,0,0.75);
    }
    .item-row{
        background-color: #906abd;
        margin: 10px;
        padding: 20px;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
    }
    .btn-danger{
        background-color: #ffae19;
        border-color: #e59400;
    }
</style>

<div class="center-column">
    <div class="item-row">
        <p>Are You sure you want to delete "{{item}}"?</p>
    </div>
   
    <a class="btn btn-success" href="{% url 'list' %}">Cancel</a>

    <form method="post" action="">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" name="Confirm" value="Confirm">
    </form>
</div>